!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= t('title')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .page
      .page-main
        = render 'layouts/header'
        .container.flash
          - flash.each do |type,msg|
            = render partial: 'layouts/flash', locals: { type: type, msg: msg }
        .my-3.my-md-5
          .container
            .page-header
              .page-title
                = yield :title
            = yield
      -# = render 'layouts/footer'
